asgiref==3.9.1
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cloudinary==1.44.1
cryptography==45.0.5
diff-match-patch==20241021
dj-database-url==3.1.2
dj-rest-auth==7.0.1
dj3-cloudinary-storage==0.0.6
Django==5.2.4
django-allauth==65.10.0
django-cors-headers==4.7.0
django-extensions==4.1
django-filter==25.1
django-import-export==4.3.8
django-recaptcha==4.1.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
google-api-core==2.29.0
google-api-python-client==2.188.0
google-auth==2.48.0
google-auth-httplib2==0.3.0
googleapis-common-protos==1.72.0
gunicorn==25.1.0
httplib2==0.31.2
idna==3.10
mysqlclient==2.2.7
oauthlib==3.3.1
packaging==26.0
parse==1.20.2
pillow==11.3.0
proto-plus==1.27.1
protobuf==6.33.5
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==2.22
PyJWT==2.9.0
pyparsing==3.3.2
python-dotenv==1.1.1
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
sql==2022.4.0
sqlparse==0.5.3
tablib==3.8.0
uritemplate==4.2.0
urllib3==2.5.0
whitenoise==6.12.0
